.menu-trigger:before {
		box-shadow: 0 2px #34495E, 0 10px #FFFFFF, 0 8px #34495E, 0 20px #FFFFFF;
		position: absolute;
		left: 5px;
		top: 8px;
		width: 32px;
		height: 4px;
}

.nav-container { 
	height: 100%;
}


#mp-menu hr {
    border-color: #909090;
    margin: 0.1rem 0;
    padding: 0;
}

.swiper-nav.dropmenu { width: auto; background: none;  }
.swiper-nav.dropmenu .swiper-wrapper { overflow: auto; }
.swiper-nav.dropmenu .swiper-slide { float: none; }
.swiper-nav.dropmenu { 
    background: #fff;
    height: 110px;
    xposition: absolute;
    xwidth: 200px;
    z-index: 500;
}

.pagination .swiper-pagination-switch { 
	display: inline-block;
  	width: 32%; 
	height: 15px; 
	margin-right: 1%;
	opacity: 0.8;
	background: #555;
	border: 1px solid #fff;
	border-radius: 4px; 
	cursor: pointer;
}
.pagination .swiper-pagination-switch:last-child { margin-right: 0; }
.pagination .swiper-pagination-switch:hover { background: #333; }

@media only screen and (max-width: 40em) { 
	.page-inner { padding: 15px 0; } 
}
