@charset "utf-8";
/****************************************************
	NOW-ENT | SP2013 | Intranet
	weo3 - 12.23.13

1. HTML elements
2. Foundation Overrides
3. Structure
4. Navigation
5. Modular / Icons
6. Tiles
7. General
8. Queries
9. Yo Fonts Mama

****************************************************/

/****************************************************
	1. HTML Elements
****************************************************/

html {
	overflow: hidden;
}

body, html {
	position: relative;
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	/*font-size: 13px;*/
	line-height: 1.5;
	background: #132732 url("../img/bg-body-sm.jpg") repeat-x 0 0;
	color: #fff;
}

img {
    display: inline-block;
    max-width: 100% !important;
    height: auto;
}

h2, h3, h4, h5, h6 { 
	margin: 0 0 0.8em; 
	font-weight: normal;
	text-transform: uppercase;
	color: #31c7d8;
}

h1 { font-size: 2.50rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.375rem }
h4 { font-size: 1.000rem; }
h5 { font-size: 0.875rem; }
h6 { font-size: 0.75rem; }


b {
    color: #999999;
    font-size: 20px;
    font-weight: normal;
    line-height: 0.4;
    vertical-align: baseline;
}

small, .small { font-size: 85%; }

input[type="text"], textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #262626;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#333));
	background-image: -webkit-linear-gradient(top, #262626, #333);
	background-image:    -moz-linear-gradient(top, #262626, #333);
	background-image:      -o-linear-gradient(top, #262626, #333);
	background-image:         linear-gradient(to bottom, #262626, #333);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
	border:1px solid #000;
	border-radius: 5px;
	padding: 9px 10px;
	color: #fff;
	width: 100%;
}

input[type="submit"] {
	border-radius: 5px;
	display: block;
	text-align: center;
	padding: 12px 20px;
	font-weight: bold;
	text-decoration: none;
	border:1px solid #000;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0px 0px 1px rgba(255,255,255,.4) inset, 0px 1px 1px rgba(0,0,0,0.5);
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,1);
	width: 100%;
	background-color: #242424;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#070707));
	background-image: -webkit-linear-gradient(top, #242424, #070707);
	background-image:    -moz-linear-gradient(top, #242424, #070707);
	background-image:      -o-linear-gradient(top, #242424, #070707);
	background-image:         linear-gradient(to bottom, #242424, #070707);
}

input[type="submit"]:hover {
	background-color: #282828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#171717));
	background-image: -webkit-linear-gradient(top, #282828, #171717);
	background-image:    -moz-linear-gradient(top, #282828, #171717);
	background-image:      -o-linear-gradient(top, #282828, #171717);
	background-image:         linear-gradient(to bottom, #282828, #171717);
}

input[type="submit"]:active {
	background: #111;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4) inset;
}


/****************************************************
	2. Foundation Overrides
****************************************************/

.top-bar {
	max-height: 40px;
}

.top-bar-section ul {
	background: #FFF;
	top: 37px !important;
}

.top-bar-section {
	height: 40px;
}

.top-bar input, .top-bar .button {
	top: 5px;
	height: 30px;
	float: left;
}

.f-dropdown:after {
	border-color: transparent transparent #fff transparent;
}

.split.button.secondary span:before {
	border-color: #999 transparent transparent transparent;
}

.split.button.secondary span {
	border-left-color: #999;
}

#mp-menu h4 {
	padding: 0.3em 0 0.3em 0.5em;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'SourceSansProReg', Helvetica, sans-serif;
	margin: 0;
	letter-spacing: 0.2em;
	font-weight: lighter;
	background: #E6E6E6;
}

.fixed.height-special {
	height: 100%;
	pointer-events: none;
}

.f-dropdown:before {
	content: "";
	display: none;
	width: 0;
	height: 0;
	border: inset 6px;
	border-color: transparent transparent white transparent;
	border-bottom-style: solid;
	position: absolute;
	top: -12px;
	left: 10px;
	z-index: 98;
}

#utils.f-dropdown.content {
	border: solid 1px #CFCBCB;
	border-radius: 0.3em;
	overflow: hidden;
}


/****************************************************
	3. Structure
****************************************************/

.search-wrapper {
	min-width: 50%;
}

input[type="search"] {
	display: inline-block;
	max-width: 20em;
	background: #fff;
	border: none;
	height: 30px;
	top: 5px;
	float: left;
	margin: 0;
}

.search-box {

}


/****************************************************
	4. Navigation
****************************************************/

.trigger-apps {
	display: block;
	height: 40px;
	width: 40px;
	background: url('../img/now-ent-ui-sprite.png') -80px 0 no-repeat;
}

.search-category {
	width: 20px;
	padding-right: 3rem !important;
	border-radius: 0.3em 0 0 0.3em;
	background: url('../img/now-ent-ui-sprite.png') 5px -55px no-repeat;
}

.search-magnifier {
	height: 31px !important;
	border-radius: 0 0.5em 0.5em 0;
	border-bottom: 1px solid #454545;
	background: url('../img/now-ent-ui-sprite.png') 0px -100px no-repeat;	
}

#utils {
	width: auto !important;
	padding: 0;
	margin: 0;
}

.linkico {
	margin-bottom: 1.5em;
}

	.linkico:first-child {
		margin-top: 1.3em;
	}

.linkico .label {
	position: absolute;
	bottom: 0;
    margin: 0;
    padding: 0;
    color: #000;
    background: none;
    display: block;
    line-height: 1.3em;
    font-size: 0.8em;
	text-align: center;
	width: 60px;
}

.linkico.foot {
	background-color: #f4f4f4;
	margin-bottom: 0;
}

.ico { 
	display: inline-block; 
	width: 60px; 
	height: 61px; 
}

	.ico.icon-you { background: url('../img/now-ent-ui-sprite.png') 0px -150px no-repeat; }
	.ico.icon-lnc { background: url('../img/now-ent-ui-sprite.png') -60px -150px no-repeat;}
	.ico.icon-lib { background: url('../img/now-ent-ui-sprite.png') -120px -150px no-repeat;}
	.ico.icon-dir { background: url('../img/now-ent-ui-sprite.png') -180px -150px no-repeat;}
	.ico.icon-cal { background: url('../img/now-ent-ui-sprite.png') -240px -150px no-repeat;}
	.ico.icon-tim { background: url('../img/now-ent-ui-sprite.png') -300px -150px no-repeat;}
	.ico.icon-pay { background: url('../img/now-ent-ui-sprite.png') -360px -150px no-repeat;}
	.ico.icon-fly { background: url('../img/now-ent-ui-sprite.png') -420px -150px no-repeat;}
	.ico.icon-nfo { background: url('../img/now-ent-ui-sprite.png') 0px -220px no-repeat; }


.trigger-categories { /* on hover shows full height panel from side */
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../img/now-ent-ui-sprite.png') -40px 0 no-repeat;
}

.kill-pointer {
	pointer-events:none;
}

.f-dropdown.now-categories {
	width: 40px;
	top: 78px !important;
	background: #000;
	height: 100%;
	border: none;
}

.f-dropdown.now-categories:after, .f-dropdown.now-categoreis:before {
	display: none;
}

.nav-left-panel {
	font-family: 'SourceSansProLight', Helvetica, sans-serif;
	font-size: 25px;
	text-transform: capitalize;
}

	.nav-left-panel:hover {
		background: #31C7D8;
		-webkit-transition: all 0.25s ease;
	    -moz-transition: all 0.25s ease;
	    -o-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	    transition: all 0.25s ease;
	}

.mp-level-sub-drop {
	margin: 1em;
}

	.mp-level-sub-drop li {
		margin: 0.2em 0;
	}

	.mp-level-sub-drop li a {
		display: block;
		margin-left: 0.5em;
		border-left: 4px solid #999;
	}

	.mp-menu ul li ul.mp-level-sub-drop li a {
		padding: 0.5em;
	}

		.mp-menu ul li ul.mp-level-sub-drop li a:hover {
			border-color: #31C7D8;
			color: #31C7D8;
		}


/****************************************************
	5. Modular / Icons
****************************************************/

.bg-color-white { background-color: #FFF !important; }
.bg-color-grey { background-color: #ADADAD !important; }
.bg-color-char { background-color: #666 !important; }
.bg-color-blue { background-color: #31C7D8 !important; }
.bg-color-red { background-color: #DF3106 !important; }

.txt-color-grey { color: #ADADAD !important; }
.txt-color-char { color: #666; }

.border-white {
	border-color: #FFF;
}

.border-pair-tb {
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.border-solo-bot {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.height-force-min-40 {
	height: 40px;
}

.wrapit {
	display: block;
}

.icon-global-menu {
	width: 40px;
	height: 50px;
	background: url('../img/now-ent-ui-sprite.png') -40px -90px no-repeat;
}

.icon-home:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -240px 0; }
.icon-proj:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -260px 0; }
.icon-huma:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -280px 0; }
.icon-work:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -300px 0; }
.icon-comp:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -320px 0; }
.icon-sets:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -340px 0; }
.icon-term:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -360px 0; }
.icon-logs:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -380px 0; }

a:hover.icon-home:before { background-position: -240px -20px; }
a:hover.icon-proj:before { background-position: -260px -20px; }
a:hover.icon-huma:before { background-position: -280px -20px; }
a:hover.icon-work:before { background-position: -300px -20px; }
a:hover.icon-comp:before { background-position: -320px -20px; }
a:hover.icon-sets:before { background-position: -340px -20px; }
a:hover.icon-term:before { background-position: -360px -20px; }
a:hover.icon-logs:before { background-position: -380px -20px; }

.border-tb-lightgrey {
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

/****************************************************
	7. General
****************************************************/

.swiper-nav {
	height: 40px;
	width: 100%;
	background-color: #111;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background-image: -webkit-linear-gradient(top, #333, #111);
	background-image:    -moz-linear-gradient(top, #333, #111);
	background-image:      -o-linear-gradient(top, #333, #111);
	background-image:         linear-gradient(to bottom, #333, #111);
}

.swiper-nav .swiper-wrapper {
	margin: 0 auto;
}

.swiper-wrapper {
	list-style-type: none;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute;
}

	.swiper-wrapper li {
		height: 40px;
		width: 40px;
		padding: 0;
		margin: 0;
	}

	.swiper-wrapper li.nav-company { background: url('../img/now-ent-ui-sprite.png') -120px 0px no-repeat;}
		.swiper-wrapper li.nav-company:hover { background: url('../img/now-ent-ui-sprite.png') -120px -40px no-repeat;}
	.swiper-wrapper li.nav-space { background: url('../img/now-ent-ui-sprite.png') -160px 0px no-repeat;}
		.swiper-wrapper li.nav-space:hover { background: url('../img/now-ent-ui-sprite.png') -160px -40px no-repeat;}
	.swiper-wrapper li.nav-daily { background: url('../img/now-ent-ui-sprite.png') -200px 0px no-repeat;}
		.swiper-wrapper li.nav-daily:hover { background: url('../img/now-ent-ui-sprite.png') -200px -40px no-repeat;}

.swiper-nav span {
	cursor: pointer;
	display: block;
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
	text-align: center;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
}

.swiper-nav span:active {
	background: #000;
}

.swiper-nav .swiper-slide:first-child span {
	border-left: none;
}

.swiper-nav .swiper-slide:last-child span {
	border-right: none;
}

.swiper-pages {
	height: 100%;
}

.scroll-container .swiper-slide {
	width: 100%;
}

.page-inner {
	padding: 15px 20px;
}

.swiper-slide h1 { color: #fff; }

/* Gallery */
.swiper-gallery {
	width: 100%;
	height: 100%;
}

.swiper-gallery .swiper-slide {
	width: 100%;
	position: relative;
	text-align: center;
}

.swiper-gallery .swiper-slide img {
	opacity: 0.2;
	width: auto;
	height: auto;
	max-width: 100%;
	-webkit-transition: 1000ms;
	-moz-transition: 1000ms;
	-ms-transition: 1000ms;
	-o-transition: 1000ms;
	transition: 1000ms;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.swiper-gallery .swiper-slide-visible img {
	opacity: 1;
}

/* Scrollbars */
.swiper-scrollbar {
	position: absolute;
	right: 5px;
	top: 2%;
	/*width: 5px;*/
	width: 10px;
	height: 96%;
	background: rgba(0,0,0,0.2);
	z-index: 10;
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
}





/* =searchboxshit
/****************************************************
/* top-bar searchbox */
#searchdrop > li {
    display: block;
    width: 100%;
}

#searchdrop li a {
	background: #FFF;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

#searchdrop li a:hover { background: #ddd; }

.searchbox a.searchcat.button {
    padding-left: 0.5rem;
    padding-right: 2rem;
}

.searchbox .searchcat > span {
    border-left: medium none;
    padding-left: 3.2rem;
}

.searchbox .searchcat.button span:before {
    margin-left: 0;
}




/* =Layout 
/****************************************************
.container {
/*    margin: 0 auto;
    width: 1160px; */
}


/* =Grid custom values 
/****************************************************

/* narrow gutter */
.row.narrow { margin: 0 -0.313em; }
/*.row.narrow { margin: 0 -5px; }*/
.row.narrow .columns { padding: 0 0.313em; }
/*.row.narrow [class^="col-"] { padding: 0 5px; }*/
/*.row.narrow [class^="col-"]:first-child { padding-left: 10px; }
.row.narrow [class^="col-"]:last-child { padding-right: 10px; }*/

.row.narrow .row { padding: 0 0.313em; }


/* wide gutter */
.row.wide { margin: 0 -1.250em; }
.row.wide [class^="col-"] { padding: 0 1.250em; }
/*.row.wide [class^="col-"]:first-child { padding-left: 10px; }
.row.wide [class^="col-"]:last-child { padding-right: 10px; }*/
.row.wide .row { padding: 0 1.250em; }


.remove-margin { margin: 0 !important; }



/* =Buttons 
------------------------------------------------------------ */
.btn {
  -webkit-transition: background-color 0.4s ease-out;
	   -moz-transition: background-color 0.4s ease-out;
  		 -o-transition: background-color 0.4s ease-out;
  				transition: background-color 0.4s ease-out;
}
.btn-info {
    background-color: #31C7D8;
    border-color: #2CB3C2;
    color: #fff;
}
.btn-info:hover, 
.btn-info:focus, 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info {
    background-color: #2CB3C2;
    border-color: #2e99a5;
    color: #FFFFFF;
}


/* =Tiles
/****************************************************/
.tile-1 		{ min-height: 52px;  }
.tile-2 		{ min-height: 115px; }
.tile-3 		{ min-height: 178px; }
.tile-4 		{ min-height: 240px; }
.tile-5 		{ min-height: 304px; }
.tile-6 		{ min-height: 367px; }
.tile-7 		{ min-height: 430px; }
.tile-full 	{ min-height: 493px; }

.tile-1, .tile-2, .tile-3, .tile-4, .tile-5, .tile-6, .tile-7, .tile-full {  
	/*overflow: hidden;*/
	position: relative;
	display: block;
	margin-bottom: 11px;
	font-size: 0.813rem;
}

.tile-1 p, .tile-2 p, .tile-3 p, .tile-4 p, .tile-5 p, .tile-6 p, .tile-7 p, .tile-full p { 
	margin: 0 0 1em; 
	font-size: 0.750rem;
	line-height: 1.4;
}


.tile-type {
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 10px;
}
.tile-edit {
	font-size: 20px;
	position: absolute;
	right: 15px;
	bottom: 0px;
  -webkit-transition: color 0.4s ease-out;
	   -moz-transition: color 0.4s ease-out;
  		 -o-transition: color 0.4s ease-out;
  				transition: color 0.4s ease-out;
}
.tile-edit:hover, 
.tile-edit:focus { color: #108a15; text-decoration: none; }

.tile-stat {  
    background: #fff url("../img/tile-bg1.png") no-repeat 0 0;
    color: #333333;
    padding: 0 !important;
}

.tile-stat .stat {
    color: #31c7d8;
    font-family: Century Gothic,Verdana,Arial,sans-serif;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 10px;
    top: 0;
}

em.stat {
	margin-right: 30px;
	color: #31c7d8;
    font-family: Century Gothic,Verdana,Arial,sans-serif;
    font-size: 36px;
    font-weight: normal;
		font-style: normal;
}
.tile-stat .tile-label { 
		bottom: 0;
		color: #333;
		font-size: 0.9em;
		left: 10px;
		line-height: 1;
		margin-top: 30px;
		position: absolute;
		text-transform: uppercase;
}

.ic1 { color: #FFF; }
.ic2 { color: #828282; }
.ic3 { color: #FFC34C; }



.tight p { margin: 0 0 0.5em; }

.post-cell {
    min-height: 69px;
    margin-bottom: 4px;
		padding: 8px 10px 8px 16px;
}

.post-cell .avatar { 
	margin-left: -5px; 
	margin-right: 10px; 
	border: 1px solid #bababa;
}

.widget1 { position: relative; height: 55px; padding: 10px 10px 10px 16px; }
.widget1 > p { font-size: 15px; }

.widget1:before {
		content: "";
		position: absolute;
		top: 15px;
		left: -20px;
		border-top: 0px solid transparent;
		/* border-top-color: inherit; */
		border-bottom: 20px solid transparent;
		border-right: 20px solid #1DC39E; 
}

.tile-body { 
	position: relative; 
	/*padding: 16px 10px 8px 16px;*/ 
	padding: 0.5em 0.5em 0.5em 1em; 
}
.tile-body h2, .tile-body h3, .tile-body h4, .tile-body h5, .tile-body h6  { padding-right: 30px; }
.tile-body > p {
    line-height: 1.2;
}
.edge { padding: 0 !important; }


.tile-label { 
	margin-left: 1em;
	line-height: 1;
	text-transform: uppercase;
	/*font-size: 0.9em;*/
	color: #fff;
}
/*.tile-label.fixed { 
	position: absolute; 
	left: 10px; 
	bottom: 0;
}
*/
.tile-slide { 
	position: absolute;
	bottom: 0;
	right: 0;
}

.tc1 { background-color: #fff; color: #333; }
.tc2 { background-color: #31c7d8; color: #fff; }
.tc3 { background-color: #145e80; color: #fff; }
.tc4 { background-color: #eaeef3; color: #555; }
.tc5 { background-color: #1dc39e; color: #fff; }

.tc1, .tc2, .tc3, .tc4, tc5 {
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.tc2:hover {
  background-color: #2cb3c2;
  cursor: pointer;
}

.tc3:hover {
  background-color: #2c6e8d;
  cursor: pointer;
}



/* =Helpers
------------------------------------------------------------ */
.center, .edge.center { position: relative; }
.edge.center img {
  /*width: 50%;
  height: 50%;*/
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; 
	bottom: 1.5em;
  overflow: auto;
  margin: auto;
}

.top {
    top: 0;
    position: absolute;
}
.bottom {
    bottom: 0;
    position: absolute;
}

.center .cntr {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; 
  overflow: auto;
  margin: auto;
}


.num { 
    display: inline-block;
    width: 22px;
    margin-right: 10px;
    padding: 1px 3px;
    background-color: #E2EAEC;
    color: #0066a3;
    text-align: center;
	-webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
					border-radius: 2px;
}

.diginum span { 
    background-color: #145e80;
    color: #fff;
    font-family: Century Gothic,trebuchet ms,Verdana,Arial,sans-serif;
    font-size: 30px;
    padding: 4px;
	-webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
					border-radius: 2px;
}

.diginum {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.btn.flat {
	-webkit-border-radius: 0 !important;
			 -moz-border-radius: 0 !important;
						border-radius: 0 !important;
}





/* =Nav Menu 
-------------------------------------------------------- */
.top-bar .search input[type="search"] {
    margin: 0;
}

a.menu-drop-icon {
    background: #fff;
    color: #333;
    padding: 0 6px;
    font-size: 24px;
}

.top-bar #drop > li { width: 100%; }

.top-bar.expanded .toggle-topbar a span { box-shadow: none; }

.gn-menu input.gn-search {
    border: 1px solid #DDDDDD;
    margin: 0.5em 1em 0.5rem 4.3em;
    padding-left: 10px;
    width: 75%;
}
.no-touch .gn-menu li.gn-search-item:hover {
    background-color: #fff;
}




/****************************************************
	8. Media Queries
****************************************************/


/****************************************************
		768
****************************************************/

@media (min-width: 768px) {
	body { background: #132732 url("../img/bg-body-md.jpg") repeat-x 0 0; }
}

/****************************************************
		992px
****************************************************/
@media (min-width: 992px) {
	body { background: #132732 url("../img/bg-body-lg.jpg") repeat-x 0 0; }
}


/****************************************************
		768
****************************************************/
@media only screen and (max-width: 40.063em) {
	.drop-panel-bg { width: 100%; }
}


.fluid-container {
    margin: 0 auto;
    padding: 0 15px;
}

.post-cell:last-child {
	margin-bottom: 10px;
}

.post-cell > p {
	margin-top: 0;
}

.showcase {
	position: absolute;
	top: 80px;
	width: 100%;
}

.showcase iframe {
    display: block;
}

.showcase .phone-h, .showcase .phone-pad {
    background: none repeat scroll 0 0 #000000;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
    height: 320px;
    margin: 20px auto 0;
    padding: 30px 40px;
    width: 700px;
}

.showcase .phone-h iframe, .showcase .phone-pad iframe {
    height: 320px;
    width: 700px;
}

.showcase .phone-pad {
    border-bottom: medium none;
    border-radius: 20px 20px 0 0;
    height: 469px;
    padding-bottom: 0;
    width: 768px;
}

.showcase .phone-pad iframe {
    height: 469px;
    width: 768px;
}

.showcase .appstore-slide {
    line-height: 1.2;
}

.showcase .appstore-slide .title {
    margin-top: 0;
}

.showcase .example-app {
    color: #FFFFFF;
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
}

.showcase .example-app img {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 2px #000000;
}

.showcase .example-app .title {
    display: block;
    font-size: 18px;
    margin: 10px 0;
}

.showcase .example-app:hover {
    text-decoration: underline;
}

.showcase .left:hover, .showcase .right:hover {
    width: 80px;
}

.showcase .more-examples span {
    cursor: pointer;
}

.showcase .more-examples span:hover {
    text-decoration: underline;
}

.showcase .try-app {
    background: none repeat scroll 0 0 #000000;
    display: inline-block;
    font-weight: normal;
    padding: 5px;
} 


/****************************************************
		480px
****************************************************/
@media only screen and (max-width: 480px) {
	.page-inner {
		padding: 0;
	}

	.f-dropdown.now-categories.open {
		height: 100%;
		background: rgba(0,0,0,0.8) !important;
		border: none;
		left: 0 !important;
		width: 40px !important;
	}

	.swiper-slide {
		display: block;
		float: none;
	}

}



/****************************************************
	9. Yo Fonts Mama
****************************************************/

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProReg';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}