#nav-con { z-index: 99999; }
.invisible { display: none; }

.nav-container {
	position: absolute;
	overflow: hidden;
	width: 300px;
	height: inherit;
	top: 40px;
	z-index: 100;
}

.menu-trigger {
	position: relative;
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url('../img/now-ent-ui-sprite.png') 0 0 no-repeat;
}

.mp-pusher {
	position: absolute;
	left: 0;
	height: 100%;
}

.mp-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
}

.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
}

.mp-level { box-shadow: 0.25em 0 0.5em rgba(0,0,0,0.5); }
.mp-level.mp-level-overlay { cursor: pointer; }
.mp-level.secondary {box-shadow: none;}

.mp-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mp-menu h2 {
	margin: 0;
	padding: 0.5em 0.5em 0.5em 1em;
	color: rgba(0,0,0,0.5);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 1.5em;
}

.mp-menu.mp-overlap h2:before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
}

.mp-menu.mp-cover h2 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2:before { opacity: 1; }

.mp-menu ul li > a {
	display: block;
	color: #666;
	margin-left: 1.25em;
	padding: 0.1em 0;
}

	.mp-menu ul li > a:before {
		content: "";
		height: 18px;
		width: 20px;
		margin-left: -10px;
		margin-right: 10px;
	}


.mp-level > ul > li:first-child > a {
	display: block;
	width: inherit;
	box-shadow: none;
	height: inherit;
}

.mp-menu ul li a:hover, .mp-menu ul li a.active,
.mp-level > ul > li:first-child > a:hover { color: #FFF; }
.mp-menu ul li a.mp-back:hover { color: #999; }

.mp-back {
	outline: none;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	display: block;
	font-size: 0.8em;
	padding: 1em 3em 0 0;
	position: relative;
	text-align: right;
}

.mp-back:hover { color: #444; }

.mp-back:after {
	font-family: 'linecons';
	position: absolute;
	content: "\e037";
	right: 10px;
	top: 9px;
	font-size: 1.3em;
	color: rgba(0,0,0,0.3);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back:after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}

#nav-con.nav  {   
	position: absolute;  
 	width: 180px;    
 	padding: 0px 8px;   
 	margin-left: -310px;  
}

#nav-con.nav .icon-global-menu .mp-level { margin-left: -310px; }
.icon-global-menu:hover { cursor: pointer; }

