.kill-pointer { pointer-events:none; }

.menu-item:hover {
  background: #31C7D8;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.menu-item > a:after {
  content: "";
  background: url(../img/arrow.png) no-repeat 0 0;
  float: right;
  margin-right: 20px;
  margin-top: 8px;
  height: 16px;
  width: 16px;
}

.menu-item > a:hover:after { content: ""; background: url(../img/arrow-roll.png) no-repeat 0 0; }
.menu-item.selected > a:after { content: " "; background: none; }
.icon-home:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -240px 2px;}
.icon-proj:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -260px 0; }
.icon-huma:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -280px 0; }
.icon-work:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -300px 0; }
.icon-comp:before { display: inline-block; background: url('../img/now-ent-ui-sprite.png') no-repeat; background-position: -320px 0; }
a:hover.icon-home:before { background-position: -240px -20px; }
a:hover.icon-proj:before { background-position: -260px -20px; }
a:hover.icon-huma:before { background-position: -280px -20px; }
a:hover.icon-work:before { background-position: -300px -20px; }
a:hover.icon-comp:before { background-position: -320px -20px; }

#global { z-index: 99999; }
#tertiary { z-index: 88; }
.invisible { display: none; }

.nav-container {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: inherit;
  top: 40px;
  z-index: 100;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url('../img/now-ent-ui-sprite.png') 0 0 no-repeat;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
}

.list-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}

.list-container:first-of-type { box-shadow: 0.25em 0 0.5em rgba(0,0,0,0.5); !important}
.list-container.secondary { box-shadow: none; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav h2 {
  margin: 0;
  padding: 0.5em 0.5em 0.5em 1em;
  color: rgba(0,0,0,0.5);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 1.5em;
}


nav ul li > a {
  display: block;
  color: #666;
  margin-left: 1.25em;
  padding: 0.1em 0;
}

nav ul li > a:before {
  content: "";
  height: 18px;
  width: 20px;
  margin-left: -10px;
  margin-right: 10px;
}

nav ul li a:hover { color: #FFF; }

.mp-back {
  outline: none;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 0.8em;
  padding: 1em 3em 0 0;
  position: relative;
  text-align: right;
}

.nav {
  position: absolute;
   width: 180px;
   padding: 0px 8px;
   margin-left: -310px;
   background-color: #fff;
}

@font-face {
  font-family: 'segoe';
  src:url('../fonts/segoe/segoeui.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'segoeSB';
  src:url('../fonts/segoe/seguisb.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'segoeB';
  src:url('../fonts/segoe/segoeuib.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.trigger-container {
  border-bottom: 1px solid #E6E6E6;
}

li.trigger-container { height: 35px; }

a.main-trigger {
  position: absolute;
  right: 0;
  border-left: 1px solid #E6E6E6;
}

.trigger-container a.main-trigger {
  top: 0;
  height: 32px;
  border-bottom: 1px solid #E6E6E6;
}

div.trigger-container .menu-trigger { background: url('../img/now-ent-ui-sprite.png') 0 0 no-repeat; height: 34px; }

nav .h4 {
  color: #777;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'segoeSB';
  width: 175px;
  margin-left: 10px;
  margin-top: 7px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 6px;
}

nav .h4:hover { cursor: pointer; color: #31C7D8; }

li.menu-item {
  font-family: 'segoeSB';
  font-size: 18px;
  border-bottom: 1px solid #e6e6e6;
  font-color: #666;
  height: 40px;
  padding-top: 10px;
}

nav .h4:before {
  content: " ";
  background:  transparent url(../img/arrowRight.png) no-repeat 0 0;
  float: left;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

li.menu-item.selected {
  font-family: 'segoe';
  background-color: #e6e6e6;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 10px;
  padding-top: 8px;
  height: 30px;
}

#tertiary.shadow { box-shadow: 0.25em 0 0.5em rgba(0,0,0,0.5) !important; }
a { text-decoration: none; }
nav ul.tertiary-list li > a { margin-left: 5px; }
ul.tertiary-list li.menu-item.sub a { margin-left: 48px; }

ul.tertiary-list li.menu-item.sub a:before {
  content: " ";
  background:  transparent url(../img/curvedArrow.png) no-repeat 0 0;
  float: left;
  height: 16px;
  width: 16px;
  margin-top: 7px;
}
ul.tertiary-list li.menu-item.sub a:hover:before {
  content: " ";
  background:  transparent url(../img/curvedArrow-roll.png) no-repeat 0 0;
}

#mask { /* create are mask */
    position:fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);
    z-index:500;
    width:100%;
    height:100%;
    z-index: 222;
}

#template {
  background: #fff;
  z-index: 9999999999;
  position:absolute;
  top: 0;
  left: 0;
}

nav ul.tertiary-list li > a.top-list-item {
  margin-left: -5px;
  padding-left: 35px;
  padding-top: 5px;
}
