 <!-- GENERIC BLOG MODAL START -->
  <div class="modal fade generic-blog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content" data-append="modal-blog">

        <!--- HANDLEBARS TEMPLATE START -->
        <!--script data-template="blog-template" type="text/x-handlebars-template"-->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
          </div>
          <div class="modal-body">
            <div class="row"> 
              <div class="col-sm-4 port-item">
                <div class="port-inner white-bg clearfix">
                  <img alt="Portfolio" src="{{imageLocation}}">
                </div>
              </div>
              <div class="col-sm-8">
                {{{description}}}
              </div>
            </div>
            <div class="row">
              {{{content}}}
            </div>
          </div>
        <!--/script-->
        <!--- HANDLEBARS TEMPLATE END -->

      </div>
    </div>
  </div>
<!-- GENERIC BLOG MODAL END -->