.team-container(data-model="blogs")
  .col-md-4.modal-target(data-toggle="modal", data-target=".generic-blog", data-title="Career Development for Millennials: the NowEnterprise for the Next Generation")
    img(src="images/team/ph1.jpg", alt="team", class="article-link")
    .clearfix.team-inner.white-bg.padding.article-link
      h3.team-name GET READY FOR THE MILLENNIALS
      p.team-position By Mike Davidson - Apr 2, 2014
  .col-md-4.modal-target(data-toggle="modal", data-target=".generic-blog", data-title="The Future of the Knowledge Worker is the NowEnterprise")
    img(src="images/team/ph1.jpg", alt="team", class="article-link")
    .clearfix.team-inner.white-bg.padding.article-link
      h3.team-name FUTURE OF THE KNOWLEDGE WORKER
      p.team-position By David Sidwell - Mar 17, 2014
  .col-md-4.modal-target(data-toggle="modal", data-target=".generic-blog", data-title="Goodbye Intranet. Say Hello to the NowEnterprise")
    img(src="images/team/ph1.jpg", alt="team", class="article-link")
    .clearfix.team-inner.white-bg.padding.article-link
      h3.team-name GOODBYE INTRANET. HELLO TO THE NOWENTERPRISE
      p.team-position by Ralph Kelpert - Jan 13, 2014
.row
  .col-md-12
  .spacing40.clearfix
  button.btn.btn-lg.pull-right(data-toggle='modal', data-target='#blog_subscription')
    | Subscribe to our Blog
    i.fa.fa-angle-right