<!DOCTYPE html>
<html data-ng-app="firstModule">
<head>	
	<title>tomAngularTest</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/todo.css">
</head>
<body>
	<div id="template" data-ng-controller="TodoCtrl"></div>
		<!-- <h2>Total todos: {{ getTotalTodos() }}</h2>
		<ul class="unstyled">
			<li data-ng-repeat="todo in todos">
				<input type="checkbox" data-ng-model="todo.done">
				<span class="done-{{ todo.done }}">{{ todo.text }}</span>
			</li>
		</ul>
		<form class="form-horizontal">
			<input type="text" data-ng-model="formTodoText" data-ng-model-instant>
			<button class="btn" data-ng-click="addTodo()"><i class="glyphicon-plus"></i> Add</button>
		</form>

		<button class="btn-large" data-ng-click="clearCompleted()"><i class="glyphicon-trash"></i> Clear Completed</button> -->
	
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script src="js/todo.js"></script>
</body>
</html>