extends layout

block content
  p
    button.hidden(data-id='launch', data-toggle='modal', data-target='#self_assesment') Launch modal 1
  // SELF ASSESMENT START
  #self_assesment.modal.fade(tabindex='-1')
    .modal-dialog
      #self-assesment-wrapper.modal-content
        .modal-header
        .modal-body
          .row
            .col-sm-8
              h3 People in our organization use SharePoint because:
          form#assesment_survey(data-id='survey')
            input(type='checkbox', data-id='/it-dev')
            label.assesment-label
              span I make them
            | ​​​​​​​​​​​​​​​​​​​​​​​​​​
            .secondary-label
              input(type='checkbox', data-id='')
              label.assesment-label IT makes us
              | ​​​​​​​​​​​​​​​​​​​​​​​​​​
            .secondary-label
              input(type='checkbox')
              label.assesment-label They love it!
              | ​​​​​​​​​​​​​​​​​​​​​​​​​​
  script(src="js/libs/jquery.js")
  script(src="js/libs/bootstrap.min.js")
  script(src="js/index-scripts.js")
  
