doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/supersized.css")
    link(rel="stylesheet", href="/css/supersized.shutter.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/ec-microsite.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic")
    <!--[if lt IE 9]>
    script(src="js/libs/html5shiv.min.js")
    script(src="js/libs/respond.min.js")
    <![endif]-->
    link(rel="shortcut icon", href="images/favicon.png")
  body
    block content